<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fk.te.product.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="cn.fk.te.product.model.po.Product">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="min_position" jdbcType="DECIMAL" property="minPosition" />
    <result column="max_position" jdbcType="DECIMAL" property="maxPosition" />
    <result column="loan_time_limit" jdbcType="VARCHAR" property="loanTimeLimit" />
    <result column="label_txt" jdbcType="VARCHAR" property="labelTxt" />
    <result column="label_under" jdbcType="VARCHAR" property="labelUnder" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="rate" jdbcType="VARCHAR" property="rate" />
    <result column="extension_url" jdbcType="VARCHAR" property="extensionUrl" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="customer_phone" jdbcType="VARCHAR" property="customerPhone" />
    <result column="is_jump" jdbcType="VARCHAR" property="isJump" />
    <result column="is_enable" jdbcType="DECIMAL" property="isEnable" />
    <result column="orders" jdbcType="DECIMAL" property="orders" />
    <result column="win_type" jdbcType="VARCHAR" property="winType" />
    <result column="float_status" jdbcType="DECIMAL" property="floatStatus" />
    <result column="ext1" jdbcType="VARCHAR" property="ext1" />
    <result column="ext2" jdbcType="VARCHAR" property="ext2" />
    <result column="is_enable_today" jdbcType="VARCHAR" property="isEnableToday" />
    <result column="today_orders" jdbcType="VARCHAR" property="todayOrders" />
    <result column="is_enable_hot" jdbcType="VARCHAR" property="isEnableHot" />
    <result column="hot_orders" jdbcType="VARCHAR" property="hotOrders" />
    <result column="details" jdbcType="VARCHAR" property="details" />
    <result column="price" jdbcType="VARCHAR" property="price" />
    <result column="pay_method" jdbcType="VARCHAR" property="payMethod" />
    <result column="manage_url" jdbcType="VARCHAR" property="manageUrl" />
  </resultMap>

  <sql id="table_name">product</sql>

  <sql id="column_list">
    id,name,logo,min_position,max_position,loan_time_limit,label_txt,label_under,add_time,rate,extension_url,remark,customer_phone,is_jump,
    is_enable,orders,win_type,float_status,ext1,ext2,is_enable_today,today_orders,is_enable_hot,hot_orders,details,price,pay_method,manage_url
  </sql>

  <select id="count" resultType="java.lang.Integer">
    select count(1) from product p left JOIN product_extend pc ON p.id=pc.id WHERE 1=1
    <if test="bean.isEnable!=null and bean.isEnable!=''">
      and p.is_enable = #{bean.isEnable,jdbcType=VARCHAR}
    </if>
    <if test="bean.isEnableToday!=null and bean.isEnableToday!=''">
      and p.is_enable_today = #{bean.isEnableToday,jdbcType=VARCHAR}
    </if>
    <if test="bean.isEnableHot!=null and bean.isEnableHot!=''">
      and p.is_enable_hot = #{bean.isEnableHot,jdbcType=VARCHAR}
    </if>
    <if test="bean.shortTime!=null and bean.shortTime!=''">
      and pc.short_time = #{bean.shortTime,jdbcType=VARCHAR}
    </if>
    <if test="bean.zhima!=null and bean.zhima!=''">
      and pc.zhima = #{bean.zhima,jdbcType=VARCHAR}
    </if>
    <if test="bean.creditCard!=null and bean.creditCard!=''">
      and pc.CREDIT_CARD = #{bean.creditCard,jdbcType=VARCHAR}
    </if>
    <if test="bean.large!=null and bean.large!=''">
      and pc.LARGE = #{bean.large,jdbcType=VARCHAR}
    </if>
    <if test="bean.repaymentCreditCard!=null and bean.repaymentCreditCard!=''">
      and pc.REPAYMENT_CREDIT_CARD = #{bean.repaymentCreditCard,jdbcType=VARCHAR}
    </if>
    <if test="bean.salary!=null and bean.salary!=''">
      and pc.SALARY = #{bean.salary,jdbcType=VARCHAR}
    </if>
    <if test="bean.mortgage!=null and bean.mortgage!=''">
      and pc.MORTGAGE = #{bean.mortgage,jdbcType=VARCHAR}
    </if>
    <if test="bean.passing!=null and bean.passing!=''">
      and pc.PASSING = #{bean.passing,jdbcType=VARCHAR}
    </if>
    <if test="bean.loanMonthMin!=null and (bean.loanMonthMin!='' or bean.loanMonthMin=='0'.toString()) and bean.loanMonthMax!=null and bean.loanMonthMax!=''">
      and ((pc.LOAN_MONTH_MIN <![CDATA[<=]]> #{bean.loanMonthMin,jdbcType=VARCHAR} and #{bean.loanMonthMin,jdbcType=VARCHAR} <![CDATA[<=]]>pc.LOAN_MONTH_MAX)
      or (pc.LOAN_MONTH_MIN <![CDATA[<=]]> #{bean.loanMonthMax,jdbcType=VARCHAR} and #{bean.loanMonthMax,jdbcType=VARCHAR}<![CDATA[<=]]>pc.LOAN_MONTH_MAX))
    </if>
    <if test="bean.minPosition!=null and (bean.minPosition!='' or bean.minPosition=='0'.toString()) and bean.maxPosition!=null and bean.maxPosition!=''">
      and ((p.MIN_POSITION<![CDATA[<=]]>#{bean.minPosition,jdbcType=VARCHAR} and #{bean.minPosition,jdbcType=VARCHAR}<![CDATA[<=]]>p.MAX_POSITION)
      or (p.MIN_POSITION<![CDATA[<=]]>#{bean.maxPosition,jdbcType=VARCHAR} and #{bean.maxPosition,jdbcType=VARCHAR}<![CDATA[<=]]>p.MAX_POSITION))
    </if>
    <if test="bean.creditTest!=null and bean.creditTest!=''">
      and pc.CREDIT_TEST=#{bean.creditTest,jdbcType=VARCHAR}
    </if>
    <if test="bean.youLike!=null and bean.youLike!=''">
      and pc.YOU_LIKE=#{bean.youLike,jdbcType=VARCHAR}
    </if>
    <if test="bean.newLoan!=null and bean.newLoan!=''">
      and pc.NEW_LOAN=#{bean.newLoan,jdbcType=VARCHAR}
    </if>
    <if test="bean.todayAdopt!=null and bean.todayAdopt!=''">
      and pc.TODAY_ADOPT=#{bean.todayAdopt,jdbcType=VARCHAR}
    </if>

  </select>

  <select id="getByParam" resultMap="BaseResultMap">
    SELECT * FROM product p left JOIN product_extend pc ON p.id=pc.id WHERE 1=1
    <if test="bean.isEnable!=null and bean.isEnable!=''">
      and p.is_enable = #{bean.isEnable,jdbcType=VARCHAR}
    </if>
    <if test="bean.isEnableToday!=null and bean.isEnableToday!=''">
      and p.is_enable_today = #{bean.isEnableToday,jdbcType=VARCHAR}
    </if>
    <if test="bean.isEnableHot!=null and bean.isEnableHot!=''">
      and p.is_enable_hot = #{bean.isEnableHot,jdbcType=VARCHAR}
    </if>
    <if test="bean.shortTime!=null and bean.shortTime!=''">
      and pc.short_time = #{bean.shortTime,jdbcType=VARCHAR}
    </if>
    <if test="bean.zhima!=null and bean.zhima!=''">
      and pc.zhima = #{bean.zhima,jdbcType=VARCHAR}
    </if>
    <if test="bean.creditCard!=null and bean.creditCard!=''">
      and pc.CREDIT_CARD = #{bean.creditCard,jdbcType=VARCHAR}
    </if>
    <if test="bean.large!=null and bean.large!=''">
      and pc.LARGE = #{bean.large,jdbcType=VARCHAR}
    </if>
    <if test="bean.repaymentCreditCard!=null and bean.repaymentCreditCard!=''">
      and pc.REPAYMENT_CREDIT_CARD = #{bean.repaymentCreditCard,jdbcType=VARCHAR}
    </if>
    <if test="bean.salary!=null and bean.salary!=''">
      and pc.SALARY = #{bean.salary,jdbcType=VARCHAR}
    </if>
    <if test="bean.mortgage!=null and bean.mortgage!=''">
      and pc.MORTGAGE = #{bean.mortgage,jdbcType=VARCHAR}
    </if>
    <if test="bean.passing!=null and bean.passing!=''">
      and pc.PASSING = #{bean.passing,jdbcType=VARCHAR}
    </if>
    <if test="bean.loanMonthMin!=null and (bean.loanMonthMin!='' or bean.loanMonthMin=='0'.toString()) and bean.loanMonthMax!=null and bean.loanMonthMax!=''">
      and ((pc.LOAN_MONTH_MIN <![CDATA[<=]]> #{bean.loanMonthMin,jdbcType=VARCHAR} and #{bean.loanMonthMin,jdbcType=VARCHAR} <![CDATA[<=]]>pc.LOAN_MONTH_MAX)
      or (pc.LOAN_MONTH_MIN <![CDATA[<=]]> #{bean.loanMonthMax,jdbcType=VARCHAR} and #{bean.loanMonthMax,jdbcType=VARCHAR}<![CDATA[<=]]>pc.LOAN_MONTH_MAX))
    </if>
    <if test="bean.minPosition!=null and (bean.minPosition!='' or bean.minPosition=='0'.toString()) and bean.maxPosition!=null and bean.maxPosition!=''">
      and ((p.MIN_POSITION<![CDATA[<=]]>#{bean.minPosition,jdbcType=VARCHAR} and #{bean.minPosition,jdbcType=VARCHAR}<![CDATA[<=]]>p.MAX_POSITION)
      or (p.MIN_POSITION<![CDATA[<=]]>#{bean.maxPosition,jdbcType=VARCHAR} and #{bean.maxPosition,jdbcType=VARCHAR}<![CDATA[<=]]>p.MAX_POSITION))
    </if>
    <if test="bean.creditTest!=null and bean.creditTest!=''">
      and pc.CREDIT_TEST=#{bean.creditTest,jdbcType=VARCHAR}
    </if>
    <if test="bean.youLike!=null and bean.youLike!=''">
      and pc.YOU_LIKE=#{bean.youLike,jdbcType=VARCHAR}
    </if>
    <if test="bean.newLoan!=null and bean.newLoan!=''">
      and pc.NEW_LOAN=#{bean.newLoan,jdbcType=VARCHAR}
    </if>
    <if test="bean.todayAdopt!=null and bean.todayAdopt!=''">
      and pc.TODAY_ADOPT=#{bean.todayAdopt,jdbcType=VARCHAR}
    </if>
    <if test="order!=null">
      order by ${order} ${sort}
    </if>
    <if test="offset!=null or size!=null">
      limit ${offset},${size};
    </if>
  </select>

  <select id="getAll" resultMap="BaseResultMap">
    select * from product order by orders
  </select>

  <insert id="insert">
    insert into <include refid="table_name"/>
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="logo != null" >
        logo,
      </if>
      <if test="minPosition != null" >
        min_position,
      </if>
      <if test="maxPosition != null" >
        max_position,
      </if>
      <if test="loanTimeLimit != null" >
        loan_time_limit,
      </if>
      <if test="labelTxt != null" >
        label_txt,
      </if>
      <if test="labelUnder != null" >
        label_under,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="rate != null" >
        rate,
      </if>
      <if test="extensionUrl != null" >
        extension_url,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="customerPhone != null" >
        customer_phone,
      </if>
      <if test="isJump != null" >
        is_jump,
      </if>
      <if test="isEnable != null" >
        is_enable,
      </if>
      <if test="orders != null" >
        orders,
      </if>
      <if test="winType != null" >
        win_type,
      </if>
      <if test="floatStatus != null" >
        float_status,
      </if>
      <if test="ext1 != null" >
        ext1,
      </if>
      <if test="ext2 != null" >
        ext2,
      </if>
      <if test="isEnableToday != null" >
        is_enable_today,
      </if>
      <if test="todayOrders != null" >
        today_orders,
      </if>
      <if test="isEnableHot != null" >
        is_enable_hot,
      </if>
      <if test="hotOrders != null" >
        hot_orders,
      </if>
      <if test="details != null" >
        details,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="payMethod != null" >
        pay_method,
      </if>
      <if test="manageUrl != null" >
        manage_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null " >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="logo != null " >
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="minPosition != null " >
        #{minPosition,jdbcType=DECIMAL},
      </if>
      <if test="maxPosition != null " >
        #{maxPosition,jdbcType=DECIMAL},
      </if>
      <if test="loanTimeLimit != null " >
        #{loanTimeLimit,jdbcType=VARCHAR},
      </if>
      <if test="labelTxt != null " >
        #{labelTxt,jdbcType=VARCHAR},
      </if>
      <if test="labelUnder != null " >
        #{labelUnder,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null " >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rate != null " >
        #{rate,jdbcType=VARCHAR},
      </if>
      <if test="extensionUrl != null " >
        #{extensionUrl,jdbcType=VARCHAR},
      </if>
      <if test="remark != null " >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="customerPhone != null " >
        #{customerPhone,jdbcType=VARCHAR},
      </if>
      <if test="isJump != null " >
        #{isJump,jdbcType=VARCHAR},
      </if>
      <if test="isEnable != null " >
        #{isEnable,jdbcType=DECIMAL},
      </if>
      <if test="orders != null " >
        #{orders,jdbcType=DECIMAL},
      </if>
      <if test="winType != null " >
        #{winType,jdbcType=VARCHAR},
      </if>
      <if test="floatStatus != null " >
        #{floatStatus,jdbcType=DECIMAL},
      </if>
      <if test="ext1 != null " >
        #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null " >
        #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="isEnableToday != null " >
        #{isEnableToday,jdbcType=DECIMAL},
      </if>
      <if test="todayOrders != null " >
        #{todayOrders,jdbcType=DECIMAL},
      </if>
      <if test="isEnableHot != null " >
        #{isEnableHot,jdbcType=DECIMAL},
      </if>
      <if test="hotOrders != null " >
        #{hotOrders,jdbcType=DECIMAL},
      </if>
      <if test="details != null " >
        #{details,jdbcType=VARCHAR},
      </if>
      <if test="price != null " >
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="payMethod != null " >
        #{payMethod,jdbcType=VARCHAR},
      </if>
      <if test="manageUrl != null " >
        #{manageUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="update">
    update <include refid="table_name"/> set
    <trim suffixOverrides="," >
      <if test="name!=null">
        name=#{name},
      </if>
      <if test="logo != null " >
        logo=#{logo},
      </if>
      <if test="minPosition != null " >
        min_position=#{minPosition},
      </if>
      <if test="maxPosition != null " >
        max_position=#{maxPosition},
      </if>
      <if test="loanTimeLimit != null " >
        loan_time_limit=#{loanTimeLimit},
      </if>
      <if test="labelTxt != null " >
        label_txt=#{labelTxt},
      </if>
      <if test="labelUnder != null " >
        label_under=#{labelUnder},
      </if>
      <if test="addTime != null " >
        add_time=#{addTime},
      </if>
      <if test="rate != null " >
        rate=#{rate},
      </if>
      <if test="extensionUrl != null " >
        extension_url=#{extensionUrl},
      </if>
      <if test="remark != null " >
        remark=#{remark},
      </if>
      <if test="customerPhone != null " >
        customer_phone=#{customerPhone},
      </if>
      <if test="isJump != null " >
        is_jump=#{isJump},
      </if>
      <if test="isEnable != null " >
        is_enable=#{isEnable},
      </if>
      <if test="orders != null " >
        orders=#{orders},
      </if>
      <if test="winType != null " >
        win_type=#{winType},
      </if>
      <if test="floatStatus != null " >
        float_status=#{floatStatus},
      </if>
      <if test="ext1 != null " >
        ext1=#{ext1},
      </if>
      <if test="ext2 != null " >
        ext2=#{ext2},
      </if>
      <if test="isEnableToday != null " >
        is_enable_today=#{isEnableToday},
      </if>
      <if test="todayOrders != null " >
        today_orders=#{todayOrders},
      </if>
      <if test="isEnableHot != null " >
        is_enable_hot=#{isEnableHot},
      </if>
      <if test="hotOrders != null " >
        hot_orders=#{hotOrders},
      </if>
      <if test="details != null " >
        details=#{details},
      </if>
      <if test="price != null " >
        price=#{price},
      </if>
      <if test="payMethod != null " >
        pay_method=#{payMethod},
      </if>
      <if test="manageUrl != null " >
        manage_url=#{manageUrl},
      </if>
    </trim>
    where id=#{id}
  </update>

  <select id="get" resultMap="BaseResultMap">
    select * from <include refid="table_name"/> where id=#{id}
  </select>

</mapper>